.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
@media (max-width: 420px) {
  #carttable {
    padding: 5px !important;
    font-size: 16px !important;
    margin: 0% !important;
  }
  .itemimage {
    height: 60px !important;
    width: 60px !important;
  }
}
